<div class="mt2 ml2 mr2 mb4">
    <div class="author_card flex-right">
        <div class="author_info">
            <div class="author_img">
                <img src="{{ site.url }}{{ site.baseurl }}/static/img/arun1.jpg" alt="author">
                <h2 class="author_name h3  center">Flask India</h2>
                    <span>https://t.me/PyFlaskIndia</span>
            </div>
        </div>
        <div class="about_author">
            <p>
                This Website is maintained by Flask India Teligram group or forum.
            </p>
        </div>
    </div>
</div>
