<div class="mt2 ml2 mr2 mb4">
    <div class="author_card flex-right">
        <div class="author_info">
            <div class="author_img">
                <img src="{{ site.url }}{{ site.baseurl }}/static/img/arun1.jpg" alt="author">
                <h2 class="author_name">Arun K Soman</h2>
                    <span>Computerphile</span>
            </div>
        </div>
        <div class="about_author">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis aliquam, est ratione accusamus
                tenetur beatae minima aut non id eveniet illum officia expedita, at nam, obcaecati mollitia ut saepe
                deleniti laudantium harum! Ipsum, sit eum veniam! Delectus, assumenda. Hic, deleniti maiores enim
                repudiandae optio quas fugit. Iusto, ad, nulla.
            </p>
        </div>
    </div>
</div>