<div class="mt2 ml2 mr2 mb4">
    <div class="author_card flex-right">
        <div class="author_info">
            <div class="author_img">
                <img src="{{ site.url }}{{ site.baseurl }}/static/img/arun1.jpg" alt="author">
                <h2 class="author_name h3  center">അരുണ്‍ കെ സോമന്‍</h2>
                    <span>കമ്പ്യൂട്ടര്‍ഫൈല്‍</span>
            </div>
        </div>
        <div class="about_author">
            <p>
                ഞാന്‍ അരുണ്‍ കെ സോമന്‍. ഞാനാണ് ഈ വെബ്സൈറ്റ് നോക്കി നടത്തുന്നത്. ഞാന്‍ ഇലക്ട്രോണിക്സ് ആണ് പഠിച്ചത്. അതിനാല്‍ തന്നെ ഞാന്‍ ഈ ബ്ലോഗില്‍ എഴുതിയിരിക്കുന്ന കമ്പ്യൂട്ടര്‍ സയന്‍സ് സംബദ്ധിച്ച പോസ്റ്റുകളില്‍ ഏതെങ്കിലും തരത്തിലുള്ള തെറ്റുകള്‍ നിങ്ങള്‍ കണ്ടെത്തി എങ്കില്‍ ദയവായി അത് പോസ്റ്റിന് ചുവടെയുള്ള കമെന്‍റ് ബോക്സില്‍ അറിയിക്കുക. തെറ്റുകള്‍ സംഭവിക്കാതിരിക്കാന്‍ ഞാന്‍ എന്‍റെ ഭാഗത്ത് നിന്നും പരമാവധി ശ്രദ്ധ പുലര്‍ത്തുന്നുണ്ട്.
            </p>
        </div>
    </div>
</div>