<header class="header">
    <nav class="responsive-navbar">
        <div class="branding">
            <h2><a href="#" class="branding-logo">{{ site.title_ml }}</a></h2>
        </div>
        <label for="input-hamburger" class="hamburger"></label>
        <input type="checkbox" name="" id="input-hamburger" hidden>
        
        <ul class="responsive-menu">
            {% for y in site.data.navbar %}
                    <li {% if y.dropdown %} class="has-dropdown" {% endif %}>
                            <a href="{{ y.link }}" class="menu-link">{{ y.menu }}
                                {% if y.dropdown %}
                                     <span class="arrow"></span>
                                {% endif %}
                            </a>
                            {% if y.dropdown %}
                            <ul class="submenu">
                                {% for d in y.dropdown_navs %}
                                    <li><a href="{{ d.drop_link }}">{{ d.drop_menu }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                    </li>
            {% endfor %}
            <li>
                <a href="javascript:void(0)" title="or press '/' to search" onclick="toggleSearch()" class="search-btn">
                    തിരയുക
                </a>
                <div class="search" id="js-search">
                    <a href="javascript:void(0)" onclick="toggleSearch()" class="search__close-btn">
                      <svg style="width:60px;height:60px;margin-top:10px" viewBox="0 0 24 24">
                          <path d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
                      </svg>
                    </a>
                    <input type="text" placeholder="തിരയുക..." class="search__input" id="js-search__input">
                    <ul class="search__results" id="js-search__results"></ul>
              </div>
            </li>
        </ul> <!-- menu closes here -->
    </nav>
</header>